html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
li {
	display: inline;	
}

/*-----------------------------------------------------*/

.big-size {
	min-width: 1000px;
	max-width: 1400px;
	box-sizing: border-box;
	margin: 0 auto;
}
.small-size {
	width: 1000px;
	box-sizing: border-box;
	margin: 0 auto;
}
* {
background-position: 100% 0px;
background-repeat: no-repeat;
font-family: Roboto;
}
.content-box {
	display: inline-block;
	margin-right: -3px;
}
.main-image {
	height: 550px;
	background: url("images/back.jpg") bottom left;
	background-size: cover;
	padding-top: 20px;
}
h1 {
	color: #fff;
	text-align: center;
	font-size: 400%;
	font-weight: normal;
	margin-bottom: 20px;
}
.main-image p {
	color: #fff;
	font-size: 200%;
	width: 800px;
	text-align: center;
	margin: 0 auto;
}
.main-image a {
	color: #fff;
	font-size: 150%;
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top: 30px;
}
.main-image a:hover {
	text-decoration: underline;
}
.main-image img {
	vertical-align: middle;
}

/*-----------------------------------------------------*/

footer {
	color: #aaa;
	font-family: arial, sans-serif;
	font-size: 60%;
	padding: 5px 0 20px;
	overflow: auto;
}
.left {
	width: 50%;
	float: left;
}
.right {
	float: right;
	width: 50%;	
}
footer a {
	color: #0066ff;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer img {
	vertical-align: middle;
}

/*---------------------------------------------------*/

nav  {
	width: 1000px;
	margin: 0 auto 100px;
	height: 40px;
	background-color: grey;
	border-radius: 5px;
	background-image: 
	linear-gradient(#777 0%, #777 50%, #666 50%, #666 60%, #777 100%);
}
.main-image nav a {
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 80%;
	padding: 0 35px;
	line-height: 40px;
	height: 40px;
	border-right: 1px solid #000;
	border-left: 1px solid #888;
	margin-top: 0;
}
.main-image nav a:hover {
	background-color: #444;
	text-decoration: none;
}
.main-image nav li:first-child a {
	border-left: 0;
}
.main-image nav li:last-child a {
	border-right: 0;
	padding: 0 20px;
}
.main-image nav li:first-child a:hover {
	border-radius: 5px 0 0 5px;
}
.main-image nav li:last-child a:hover {
	background-image: 
	linear-gradient(#777 0%, #777 50%, #666 50%, #666 60%, #777 100%);
	border-radius: 5px 0 0 5px;
}
.search {
	width: 130px;
	height: 20px;
	background: url("images/lupa.png") 5px 3px no-repeat;
	border-radius: 10px;
	border: 1px inset #999;
	margin-top: 8px;
	color: transparent;
}
nav ul li {
	overflow: auto;
	display: inline-block;
}
nav ul {
	overflow: auto;
}